# SPDX-FileCopyrightText: 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

* @Ram-srini @abjyoti @shankarsrinivas1 @punam20 @ipsita-npg @krishnajs

# For documentation purposes. developers will still be asked to review substantial PRs.
/docs @open-edge-platform/edge-microvisor-toolkit-docs-write
